.game-body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#game-canvas {
    flex: 1;
    background-color: #262f36;
    position: relative;
    cursor: crosshair;
    display: block;
    width: 100%;
    height: calc(100vh - 32px);
}

/* Стиль для цілей*/
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 3s linear; 
    z-index: 10;
}

.bullet-hole {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../assets/images/bullet_hole.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 20;
}