*,
*::after,
*::before {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}
