/* --- Хедер з показниками --- */
.game-ui {
    width: 100%;
    height: 80px;
    background-color: #313647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.ui-block {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.8rem;
    font-weight: 700;
}

.timer-section {
    color: var(--accent-color); 
    font-family: 'Courier New', Courier, monospace;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    border-radius: 6px;
}

.heart-icon {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.));
}

/* --- Екран Game Over --- */
#game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 54, 71, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    max-width: 600px;
    width: 30%;
    min-width: 350px; /* змінити для мобайл потім */
    background-color: #1a1a1a;
    padding: 50px 30px;
    border-radius: 20px;
    border: 3px solid var(--accent-color);
    text-align: center;
}

.modal h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.modal-buttons button {
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    background: transparent;
    color: white;
    transition: all 0.4s ease;
}

.modal-buttons button:hover {
    background: var(--accent-color);
    color: #000;
}

.hidden { display: none !important; }